<section id="profile">
        <div class="profile-img clearfix">
            <%= image_tag @admin.avatar.url(:medium), class: "img-rounded" %>
        </div>
        <div class="info clearfix">
            <h3>Luis Eduardo Barajas Pérez</h3>
            <h4>19 years old</h4>
        </div>
        <div class="education col-md-4 col-md-offset-2">
            <h4><strong>Education</strong></h4>
            <h5>ITESM Campus Santa Fe</h5>
            <ul>
                <h5><li>Ingenieria en Tecnologías Computacionales</li></h5>
                <h5><li>Expected graduation date: December 2019</li></h5>
                <h5><li>GPA: 94/100</li></h5>
            </ul>
        </div>
        <div class="programming-lang col-md-4">
            <h4><strong>Programming Languages</strong></h4>
            <div class="first col-md-4 col-md-offset-2">
                <h5>HTML/CSS</h5>
                <h5>Swift</h5>
                <h5>Ruby on Rails</h5>
            </div>
            <div class="col-md-4">
                <h5>C</h5>
                <h5>Java</h5>
                <h5>JavaScript</h5>
            </div>
        </div>
</section>

<section id="welcome-content">
    <div class="skinny_wrapper">
        
    </div>
</section>
